.navcontainer {
  margin: 0;
  padding: 20px;
  position: relative;
  background: linear-gradient(45deg, #3f9592, #2aa3a5, #0cd2e1);
  background-size: 500% 500%;
  animation: change-gradient 10s ease-in-out infinite;
}
@keyframes change-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.navcontainer-heading {
  margin: 0;
}

label { color: black; font-weight: bold; display: block; width: 150px; float: left; } label:after { content: ": " }

.navcontainerheading_font {
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  font-weight: normal;
}

.description p {
  color: #ffffff;
  font-style: italic;
  font-size: 18px;
  margin: -5px 0 0;
}

